.stageWrapper img {
  width: 500px;
  cursor: pointer;
  height: 500px;
}
.imgWrapper {
  display: flex;
  flex-direction: column;
}
.stageWrapper {
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
}

.btnWrapper {
  height: 50px;
  margin-left: 20px;
}
